body {
    margin: 0;
}

.site-container {
    width: 100%;
    height: auto;
    overflow-y: auto;
    position: relative;
    float: left;
    background-color: rgb(235, 235, 230);
}

.card {
    width: 800px;
    position: relative;
    height: auto;
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 10px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /*-webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);*/
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
}

.main-img {
    width: 160px;
    height: 160px;
    position: relative;
    float: left;
}

.main-img img {
    position: relative;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.save-offer {
    width: 100%;
    height: 36px;
    position: relative;
    float: left;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 5px;
    color: #aeaeae;
}

.save-offer .saved {
    color: springgreen;
}

.save-offer i {
    position: relative;
    margin: 0 auto;
}

.left-bottom {
    width: 100%;
    height: 21px;
    position: relative;
    float: left;
    margin-top: 10px;
    text-align: center;
}

.added-by {
    font-weight: bold;
    color: darkred;
}

.card-right {
    width: 595px;
    padding-left: 15px;
    position: relative;
    float: left;
    height: auto;
    overflow-y: auto;
}

.time-duration {
    width: 100%;
    position: relative;
    float: left;
    overflow: auto;
    font-size: 11px;
    line-height: 14px;
    height: 15px;
    font-weight: bold;
    color: rgb(74, 74, 74);
}

.days-left {
    width: 100%;
    font-weight: 700;
    color: rgb(92, 124, 250);
    text-decoration: underline;
    position: relative;
}

.title {
    width: 100%;
    height: 48px;
    font-size: 16px;
    color: rgb(60, 60, 60);
    line-height: 24px;
    overflow-y: hidden;
    font-weight: 600;
    position: relative;
    float: left;
    margin-bottom: 10px;
}

.content {
    width: 100%;
    font-size: 14px;
    color: rgb(51, 51, 51); /*very important for eyes*/
    line-height: 21px;
    height: 63px; /*lineHeight * #ofLines*/
    position: relative;
    overflow-y: hidden;
}

.read-full-story {
    width: 100%;
    position: relative;
    float: left;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
    height: 34px;
}

.get-now {
    width: 100%;
    position: relative;
    margin: 0;
}

.crimson {
    color: crimson;
}

/* Header Part*/

.header {
    height: 50px;
    width: 100%;
    position: relative;
    background-color: #ea3c53;
    /*background-color: rgb(238, 110, 115);*/
}

.header-container {
    height: 40px;
    width: 790px;
    padding: 5px;
    position: relative;
    margin: 0 auto;
}

.header-title {
    height: 40px;
    width: 100px;
    font-size: 36px;
    font-weight: 700;
    line-height: 39px;
    position: relative;
    float: left;
    margin-right: 10px;
    color: #ffffff;
}

.yellow {
    color: yellow;
}

.profile-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    float: right;
    background-color: darkkhaki;
    margin-left: 5px;
}

.search-icon {
    height: 40px;
    width: 40px;
    position: relative;
    float: right;
    margin-left: 15px;
    font-size: 32px;
    margin-top: 4px;
    line-height: 40px;
    color: #eeeeee;
    cursor: pointer;
}

.search-box {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    width: inherit;
    height: auto;
    overflow: auto;
    background-color: #eeeeee;
    display: none;
}

.search-field-box {
    position: relative;
    width: inherit;
    height: 50px;
    background-color: #ea3c53;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.search-field {
    width: 90%;;
    position: relative;
    margin : 0 auto;
}

@media (min-width: 610px) and (max-width: 809px){
    .card {
        width: 600px;
    }

    .main-img {
        width: 100px;
        height: 100px;
    }

    .card-right {
        width: 455px;
    }
}

@media (min-width: 510px) and (max-width: 609px){
    .card {
        width: 500px;
        padding: 10px;
    }

    .main-img {
        width: 100px;
        height: 100px;
    }

    .card-right {
        width: 370px;
        padding-left: 10px;
    }
}

@media (min-width: 410px) and (max-width: 509px){
    .card {
        width: 400px;
        padding: 10px;
    }

    .main-img {
        width: 70px;
        height: 70px;
    }

    .card-right {
        width: 300px;
        padding-left: 10px;
    }
}

@media (min-width: 310px) and (max-width: 409px){
    .card {
        width: 300px;
        padding: 10px;
    }

    .main-img {
        width: 70px;
        height: 70px;
    }

    .card-right {
        width: 205px;
        padding-left: 5px;
    }
}

/*.share-bar {
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #eeeeee;
    position: relative;
    float: left;
}

.social-block {
    width: 50%;
    height: 30px;
    position: relative;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 2.143;
    background-color: #00d1b2;
    transition : background-color 0.25s ease;
    -webkit-transition : background-color 0.25s ease;
    -moz-transition : background-color 0.25s ease;
    -o-transition : background-color 0.25s ease;
}

.social-block:hover {
    background-color: #00c4a7;
    cursor: pointer;
}

.social-cursive-title {
    font-family: cursive;
    font-style: italic;
    font-weight: 600;
}

.white {
    color: #ffffff;
}

.hidden {
    display: none;
}*/
